/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  background: #2470F4;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
h1{
    font-size: 3rem;
    text-transform: capitalize;
    color: white;
    text-align: center;
    margin-top: 2rem;
}
.input-wrap, .list-root {
    width: 40vh;
    margin: 0 auto;
}
input {
    width: 100%;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 8px;
    background: #2470F4;
    font-size: 1.2rem;
    color: white;
    margin-top: 3rem;
}
input:focus{
    border-radius: 8px;
    outline: 0;
    border: 2px solid #7199df;
    border-radius: 8px;
    font-size: 1.2rem;
    
}
input::placeholder{
    color: white;
    opacity: .3;
    
}

.draggable {
    background: white;
    color: #2470F4;
    padding: 1rem;
    margin-top: 1rem;
    cursor: move;
}

.dragging {
  opacity: 0.5;
} 

